<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mybatisplus.mapper.ISiteMapper">

<!--        <select id="selectAllByUserId" resultType="com.mybatis.mybatisplus.pojo.Device" >-->
<!--            SELECT d.device_id,d.device_name,d.device_status,d.device_type,d.site_id,s.site_name-->
<!--             FROM-->
<!--             tb_device d INNER JOIN tb_site s-->
<!--             ON d.site_id = s.site_id-->
<!--            INNER JOIN tb_user u-->
<!--            ON s.user_id = u.user_id-->
<!--            WHERE u.user_id = #{userId}-->
<!--        </select>-->
        <select id="search" resultType="com.mybatis.mybatisplus.pojo.Site">
                SELECT
	                s.site_id,
	                s.site_name,
	                s.user_id,
	                d.device_id,
	                d.device_name,
	                d.device_status,
	                d.device_type
                FROM
                	`tb_site` S
                	LEFT JOIN tb_device D ON S.site_id = D.site_id
                WHERE
                	s.site_name LIKE CONCAT('%',#{name},'%')
                OR d.device_name LIKE CONCAT('%',#{name},'%')
                OR d.device_type LIKE CONCAT('%',#{name},'%')
        </select>


        </mapper>
